# =========================
# Environment Variables
# =========================

.env
.env.*
!.env.example


# =========================
# Python Virtual Environment
# =========================

venv/
.venv/
env/


# =========================
# Python Cache
# =========================

__pycache__/
*.py[cod]
*$py.class


# =========================
# Jupyter Notebook
# =========================

.ipynb_checkpoints/


# =========================
# VS Code
# =========================

.vscode/


# =========================
# ChromaDB
# =========================

chroma_db/


# =========================
# Original Telugu Dataset
# =========================

data/ramayana_telugu.jsonl


# =========================
# Build / Distribution
# =========================

.dist/
dist/
build/
*.egg-info/


# =========================
# Operating System Files
# =========================

.DS_Store
Thumbs.db


# =========================
# Logs
# =========================

*.log


# =========================
# Temporary Files
# =========================

*.tmp
*.temp